@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/ProximaNova-Regular.woff?v=1.1.0') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/ProximaNova-Bold.woff?v=1.1.0') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/ProximaNova-Black.woff?v=1.1.0') format('woff');
  font-weight: 900;
  font-style: normal;
}

/*
@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/ProximaNova-Bold.woff?v=1.1.0') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/ProximaNova-Black.woff?v=1.1.0') format('woff');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/ProximaNova-Black.woff?v=1.1.0') format('woff');
  font-weight: 900;
  font-style: normal;
} */
/* @font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova/Black/ProximaNova-Black.eot?v=1.1.0');
  src: url('../fonts/ProximaNova/Black/ProximaNova-Black.eot?#iefix&v=1.1.0')
      format('embedded-opentype'),
    url('../fonts/ProximaNova/Black/ProximaNova-Black.woff?v=1.1.0')
      format('woff'),
    url('../fonts/ProximaNova/Black/ProximaNova-Black.ttf?v=1.1.0')
      format('truetype'),
    url('../fonts/ProximaNova/Black/ProximaNova-Black.svg?v=1.1.0#ProximaNovaBlack')
      format('svg');
  font-weight: 900;
  font-style: normal;
} */

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: ProximaNova, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #211e1c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
